button{
    transition: 0.5s;
}
button:hover{
    background-color: tomato !important;
}
.footerContainer{
    background-color: royalblue;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.footerContainer a{
    color: bisque;
    text-decoration: none;
    transition: 0.5s;
}
.footerContainer a:hover{
    color: tomato;
}
/* css for login page */
.error-message{
    color: red;
}
.loginUser{
    color: blue;
    
}
/* cart section*/
.cartWrapper{
    background-color: #ffecec;
    padding: 0 10%;
}
.socialBox{
    font-size: 22px;
}
.aboutMeText{
    text-align: justify;
}
.notFoundWrapper{
    height: 100%;
    width: 100%;    
    background-color:#cdcdcd;
}
.notFoundWrapper h1{
    font-size: 60px;
    margin: 5% 0;
}
.notFoundWrapper h1 span{
    font-size: 128px;
    display: block;
    color: tomato;
}
.notFoundWrapper a{
    color: tomato;
    text-decoration: none;
}
